!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:crossorigin => "anonymous", :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", :src => "https://code.jquery.com/jquery-3.3.1.min.js"}

  %body
    - if current_user
      / current_user will return true if a user is logged in
      = "Logged in as #{current_user.email}"
      | #{link_to 'Home', learn_root_path} | #{link_to 'Log Out', auth_logout_path, method: :delete}
    - else
      / not logged in
      = link_to 'Home', learn_root_path
      | #{link_to 'Log In', auth_login_path} or #{link_to 'Sign Up', auth_new_user_path}
    %hr/
    - if notice
      = notice
    - if alert
      = alert
    = yield
