%h1 Sign Up
= form_for @user, url: auth_users_path do |f|
  %div
    = f.label :name
    = f.text_field :name, autofocus: true
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
    = f.submit "Sign up!"
