%h1 Log In
= form_for :login do |f|
  %div
    = f.label :email
    = f.text_field :email, autofocus: true
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.submit "Log In"
