.requirements
  -if @step.number_of_answers_required > 1
    Number of answers required:
    = @step.number_of_answers_required

  :javascript
    $(document).ready(function(){
      $("input.submit").on("click", function(){
        var n = $('.check_boxes:checked').length;

        if (n < answersRequired) {
          $('.requirements').addClass('attention')
          return false;
        }
      })
    })

%br

- if @step.has_image
  %img{src: "/questions/#{@step.question.external_identificator}.jpg"}

%br
= @step.text

= simple_form_for @step, url: learn_training_step_path(@training, @step), method: :PUT do |f|
  - suitable_display_method = @step.number_of_answers_required == 1 ? :radio_buttons : :check_boxes

  = f.input :answer_ids,
    label: false,
    as: suitable_display_method,
    collection: @step.options,
    label_method: :text,
    value_method: :id,
    include_hidden: false,
    checked: @step.answer_ids

  %div
    %button.show Show results
    = f.submit "Submit", class: :submit

%div
  - if @step.prev_step_number
    =link_to "Prev", learn_training_step_path(@training, @step.prev_step_number)

  - if @step.next_step_number
    =link_to "Next", learn_training_step_path(@training, @step.next_step_number)


%script
  == var ids = [ #{ @step.all_answers.correct.pluck(:id) * "," } ];
  == var answersRequired = #{ @step.number_of_answers_required };

:javascript
  $("button.show").on("click", function(){
    ids.forEach(function(id){
      $("label[for='training_step_answer_ids_" + id + "']").addClass('correct');
    });
    return false;
  })

:css
  .radio, .checkbox {
    display: block;
    margin: 3px;
  }

  .attention {
    color: red;
    font-weight: bold;
  }

  label {
    padding: 2px;
    margin-bottom: 3px;
  }

  label.correct {
    border: 1px solid green;
    border-radius: 3px;
  }
